registry = "http://npm.rz.is"
@braintree:registry = "https://registry.npmjs.org/"
@kyleshockey:registry = "https://registry.npmjs.org/"
@sindresorhus:registry = "https://registry.npmjs.org/"
@types:registry = "https://registry.npmjs.org/"
